<div class="container">
    <ul>
        <li>
            <a [routerLink]="['/home']" class="nav-item">Home</a>
        </li>

        <li>
            <a [routerLink]="['/absorute_zero']" class="nav-item">AbsoЯute Zero</a>
        </li>
        <li>
            <a [routerLink]="['/active_neets']" class="nav-item">Active NEETs</a>
        </li>
        <li>
            <a [routerLink]="['/akatsuki_records']" class="nav-item">Akatsuki Records</a>
        </li>
        <li>
            <a [routerLink]="['/demetori']" class="nav-item">Demetori</a>
        </li>
        <li>
            <a [routerLink]="['/jynx']" class="nav-item">Jynx</a>
        </li>
        <li>
            <a [routerLink]="['/olifejapan']" class="nav-item">O-Life Japan</a>
        </li>
        <li>
            <a [routerLink]="['/shibayanrecords']" class="nav-item">Shibayan Records</a>
        </li>
        <li>
            <a [routerLink]="['/soundholic']" class="nav-item">SOUND HOLIC</a>
        </li>
        <li>
            <a [routerLink]="['/tamusic']" class="nav-item">TAMUSIC</a>
        </li>
    </ul>
</div>