<div class="container">
    <h1>ZUN inspired music page</h1>

    <p>
        I like ZUN's music. He makes good music. Fortunately for fans of his work, many independent music groups have reworked and
        remixed his music. So many derivatives have been made in fact, that finding and organizing them has become a
        gigantic pain in the ass. This is further exacerbated by the fact that these groups are pre-dominantly Japanese
        who do not speak a lick of English.
        <br> Trying to organize your bookmarks of arcane squiggly lines is no fun, I tell you that. This page is just my
        personal way of dealing with this shit. I get youtube videos of a specific artist or group's work, then paste
        them in their corresponding tab.
    </p>
</div>



