<div class="container">
    <h1>ZUN inspired music page</h1>

    <p>
        I like ZUN's music. He makes good music. Fortunately for fans of his work, many independent music groups have
        done covers and remixes of his music. Finding and organizing them has become a gigantic pain in the ass in fact.
        It doesn't help that it's all in Japanese.
        <br> Trying to organize your Youtube bookmarks of incomprehensible oriental characters ain't easy. This page is
        just my personal way of dealing with it. I get youtube videos of a specific artist or group, then embed
        them in their corresponding page.
    </p>
</div>
